{% extends 'main.html' %}

{% block content %}
<main class="create-room layout">
  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <a href="{{request.META.HTTP_REFERER}}">
            <svg version="1.1" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32">
              <title>arrow-left</title>
              <path
                d="M13.723 2.286l-13.723 13.714 13.719 13.714 1.616-1.611-10.96-10.96h27.625v-2.286h-27.625l10.965-10.965-1.616-1.607z">
              </path>
            </svg>
          </a>
          <h3>Enter your rental info</h3>
        </div>
      </div>
      <div class="layout__body">
        <form class="form" action="" method="POST">
          {% csrf_token %}

          <div class="form__group">
            <label for="room_topic">Choose car class </label>
            <input required type="text" value="{{room.topic.name}}" name="topic" list="topic-list" />
            <datalist id="topic-list">
              <select id="room_topic">
                {% for topic in topics %}
                <option value="{{topic.name}}">{{topic.name}}</option>
                {% endfor %}
              </select>
            </datalist>
          </div>


          <div class="form__group">
            <label for="room_name">Room Name</label>
            {{form.name}}
          </div>

          
          <label for="start">Pickup date:</label>
          {{form.pickupdate}}
          <input type="date" id="start" name="trip-start"
          value="2018-07-22"
          min="2018-01-01" max="2018-12-31">
          

          
          <label for="start">Dropoff date:</label>
          {{form.dropoffdate}}
          <input type="date" id="end" name="trip-end"
          value="2018-07-22"
          min="2018-01-01" max="2018-12-31">
          
          <br>
          <br>
          
          <label for="startod">Start odometer:</label>
          {{form.startod}}
          <input type="text" id="startod" name="sod">
          &nbsp&nbsp
          <label for="endod">End odometer:</label>
          {{form.endod}}
          <input type="text" id="endod" name="eod">

          <br>
          <br>
          <label for="start">Coupon id:</label>
          {{form.couponid}}
          <input type="text" id="couponid" name="cid">
          <br><br>
         
          <div class="form__group">
            <label for="room_description">Note</label>
            {{form.description}}
          </div>


           <!-- (pickup_date,dropoff_date,start_odometer,end_odometer,odometer_limit,customer_id,vin,class,servic
e_id,invoice_date,pickloc_id,droploc_id,coupon_id -->

          <!-- <div class="form__group">
            <label for="room_topic">Topic</label>
            <input required type="text" name="topic" id="room_topic" list="topic-list" />
            <datalist id="topic-list">
              <select id="room_topic">
                <option value="">Select your topic</option>
                <option value="Python">Python</option>
                <option value="Django">Django</option>
              </select>
            </datalist>

          </div> -->


          <div class="form__action">
            <a class="btn btn--dark" href="{{request.META.HTTP_REFERER}}">Cancel</a>
            <button class="btn btn--main" type="submit">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</main>
{% endblock content %}